body {
  margin: 0;
  font-family: sans-serif;
  direction: rtl;
  background: #f4f6f9;
}

header {
  background: #0d6efd;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 50px;
  background: #e9f2ff;
}

#products {
  padding: 40px;
}

.product {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

button {
  background: #198754;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  }
